// TODO Game image dimensions are different than those on the screen. Should I crop the image, stretch it, or change the layout?

:host {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;

  bet-game-tile {
    height: 210px;
  }
}
