@use "palette" as palette;

/*
  TODO: specify source, finish implementation
  Ribbon styles are a mix of two css snippets found online and adopted to the requirements.
  * https://codepen.io/nazarelen/pen/BKGZPP (found on https://devsnap.me/css-ribbons), Author: Elena Nazarova (nazarelen)
  * https://stackoverflow.com/a/64153471, Author: Temani Afif
 */

.ribbon {
  height: 160px;
  width: 250px;
  position: absolute;
  top: -27px;
  right: -55px;
  transform: rotate(42deg) scale(2, 0.5);
  display: inline-block;
  border-radius: 500px 500px 0 0;
  background: linear-gradient(to right, black 30%, palette.$accent 51%, palette.$accent 56%, palette.$white 85%);
  -webkit-mask: radial-gradient(farthest-side at bottom, transparent calc(100% - 60px - 1px), #fff calc(100% - 60px)), linear-gradient(160deg, #fff 50%, transparent 0) top/100% 200%;
  -webkit-mask-composite: destination-in;
}

.text {
  position: absolute;
  transform: rotate(42deg);
  top: 34px;
  right: 20px;
  color: white;
  z-index: 5;
  font-size: 24px;
  font-weight: bold;
}

.wrap {
  width: 188px;
  height: 188px;
  position: absolute;
  top: -8px;
  right: -8px;
  overflow: hidden;
}

.wrap:before, .wrap:after {
  content: "";
  position: absolute;
}

.wrap:before {
  width: 40px;
  height: 8px;
  right: 112px;
  background: linear-gradient(to bottom, palette.$dark 0, palette.$accent 40%, palette.$accent 70%, palette.$dark);
  border-radius: 8px 8px 0 0;
}

.wrap:after {
  width: 8px;
  height: 80px;
  right: 0;
  top: 70px;
  background: linear-gradient(to right, palette.$dark 0, palette.$accent 40%, palette.$accent 90%, palette.$dark);
  border-radius: 0 8px 8px 0;
  z-index: -1;
}

:host.top-left {
  .wrap {
    transform: rotate(270deg);
    left: -8px;
  }
}
