@use 'palette' as palette;
@use 'fonts' as fonts;
@use 'screen-size' as screen-size;

html {
  height: 100%;
  background-color: palette.$light;
  font-family: fonts.$sans-serif;
  background-image: url("~src/assets/background.png");
  background-repeat: repeat;
  background-size: initial;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

main > router-outlet + * {
  width: 100%;
  flex: 1;
  max-width: screen-size.$width-xl;
}
