@use "palette" as palette;

:host {
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 6%;
  position: relative;
}

img {
  width: auto;
  height: auto;
  min-height: 100%;
}

.jackpot {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: palette.$white;
  font-weight: bold;
}

bet-game-tile-ribbon {
  width: 100%;
}

.top-ribbon {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.new-ribbon {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}
