:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
    overflow: auto;
  }
}

header {
  height: 76px;

  nav, ui-navbar {
    height: 100%;
  }
}

main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
