:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
    overflow: auto;
  }
}

main {
  padding: 66px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
